/* Tango color pallete */
/* FIXME: Can this be put in a separate file? */
@define-color TangoButter1 #fce94f;
@define-color TangoButter2 #edd400;
@define-color TangoButter3 #c4a000;
@define-color TangoOrange1 #fcaf3e;
@define-color TangoOrange2 #f57900;
@define-color TangoOrange3 #ce5c00;
@define-color TangoChocolate1 #e9b96e;
@define-color TangoChocolate2 #c17d11;
@define-color TangoChocolate3 #8f5902;
@define-color TangoChameleon1 #8ae234;
@define-color TangoChameleon2 #73d216;
@define-color TangoChameleon3 #4e9a06;
@define-color TangoSkyBlue1 #729fcf;
@define-color TangoSkyBlue2 #3465a4;
@define-color TangoSkyBlue3 #204a87;
@define-color TangoPlum1 #ad7fa8;
@define-color TangoPlum2 #75507b;
@define-color TangoPlum3 #5c3566;
@define-color TangoScarletRed1 #ef2929;
@define-color TangoScarletRed2 #cc0000;
@define-color TangoScarletRed3 #a40000;
@define-color TangoAluminium1 #eeeeec;
@define-color TangoAluminium2 #d3d7cf;
@define-color TangoAluminium3 #babdb6;
@define-color TangoAluminium4 #888a85;
@define-color TangoAluminium5 #555753;
@define-color TangoAluminium6 #2e3436;

/* General */
GtkWindow,  /* Jessie */
window      /* Stretch */
{
    /* Currently this background gets overwritten in __main__.py when running on Stretch,
     * this is only here so it doesn't look shit on Jessie */
    background: linear-gradient(to bottom right, @TangoSkyBlue1, @TangoSkyBlue3 40%, @TangoSkyBlue3 60%, @TangoPlum3);
    color: white;
}

/* WARNING: Don't be the idiot I was and apply font-size: 2em to "*".
 * Changing the font size changes the size of everything else that uses em units,
 * so everything kind just keeps growing endlessly when you do that. */
GtkLabel,  /* Jessie */
label      /* Stretch */
{
    /* FIXME: Is there a "big" font option? Is it big enough for a 10-foot UI?
     *        Alternatively make everything smaller and use GDK_SCALE environment variable for the 10-foot expansion */
    font-size: 2em;
}

#clock {
    /* I want to keep the clock from detracting focus away from the other (more important) text */
    opacity: 0.65;
}

/* OSD */
#osdFrame * {
    /* FIXME: The window background is showing around the OSD overlay.
     *        Either remove this and give it its own frame, or make it look better with black frame. */
    /* FIXME: In Jessie there's a border at some other layer that's not going away with this rule */
    border-style: none;
}
#osdBox {
    border-radius: 10px;  /* Round the edges */
    background-color: @TangoAluminium4;
    color: white;
    box-shadow: 0 0 15px @TangoAluminium6 inset;  /* Fade into the unavoidable black frame */
}


/* Selector */

.button,  /* Jessie */
button    /* Stretch */
{
    font-size: 40px;  /* FIXME: Magic number based on the icon size. This is effectively doubled due to the 2em in GtkLabel */
    /* Since we make the button itself invisible, we don't care about border-radius, but it might be useful for putting a frame of some sort around the icons
     * border-radius: 50%;  */
    color: @TangoPlum2;

    /* Remove the button style entirely and just display the image */
    box-shadow: none;
    border-style: none;
    /* GtkButton unintuitively has a background-image instead of background-color */
    background-image: none;
    padding: 0;  /* If you want padding, go look at selector.py:ImageOrLabelButton() */
}

.button.inactive,  /* Jessie */
button.inactive    /* Stretch */
{
    /* I wanted to make inactive icons smaller, but CSS can't be used to change the size of objects.
     * I think this can be done with a background image, but not worth the effort
     * The real purpose was to de-emphasize inactive items, we can do that by making it slightly opaque and stripping the colour
     * NOTE: Colour is stripped from the images in selector.py:ImageOrLabelButton.do_focus_out()
     */
    opacity: 0.4;
    color: grey;  /* Remove colour from the text string to match the desaturation of the icon images. */
}
.button.inactive:hover,  /* Jessie */
button.inactive:hover    /* Stretch */
{
    /* Without fully emphasizing the hovered item, we should de-emphasize it less */
    opacity: 0.6;
}
.button.active:hover,  /* Jessie */
button.active:hover    /* Stretch */
{
    /* I know this is deprecated in favour of "gtk-icon-effect", but I want it to work on both Jessie & Stretch. */
    -gtk-image-effect: highlight;
/*    -gtk-image-effect: highlight/dim/none; */
}

#ChannelPicker #Picker {
    /* Despite inactive Pickers never being valid setting the opacity to 0 and back to 1 when active
     * enhances the ease-in-out effect when changing stations. */
    opacity: 0;

    transition: 0.5s ease-in-out;
}
#ChannelPicker #Picker.active{
    opacity: 1;
}

#StationPicker * .button.active,  /* Jessie */
#StationPicker * button.active    /* Stretch */
{
    /* This button is directly behind the active ChannelPicker, make it invisible */
    opacity: 0;

    transition: 0.5s ease-in-out;
}

/*
 * GtkImage,  \/\* Jessie \*\/
 * image      \/\* Stretch \*\/
 * {
 *     box-shadow: none;
 *     border-style: none;
 *     border-image: none;
 *     background-image: none;
 *     background-color: transparent;
 * }
 */
